.footer{
	position: relative;
	width: 100%;
	padding-top: 60px;
	padding-bottom: 65px;
	background: #0a2124;
	text-align: right;
	color: #fff;
	font:16px/23px 'helios-light';
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 32px;
		background:red url(../images/ellipse_down.svg) no-repeat 50% 0;
		background-size:100% 32px;
	}
	a{
		color: #fff;
		border-bottom: 1px solid #3b4d50;
		&:hover{
			color: #4be15f;
			text-decoration: none;
			border-bottom-color: #174730;
		}
		&:visited,&:focus{
			color: #647375;
			border-bottom-color: #647375;
		}
	}
	.copy{
		float: left;
		text-align: left;
		span{
			display: block;
		}
	}
}
@media screen and (max-width: 1000px){
	.footer{
		padding: 30px 0;
		text-align: left;
		&:before{
			content: none;
		}
		.copy{
			float: none;
			padding-bottom: 40px;
		}
	}
}