.header{
	height: 100px;
	background: #fff;
	background: red;
	position: relative;
	padding-bottom: 27px;
	padding-top: 22px;
	text-align: right;
	z-index: 1;
	&:after{
		content: '';
		position: absolute;
		top: 100%;
		left: 50%;
		transform:translateX(-50%);
		height: 86px;
		width: 300px;
		background: url(../images/logo_round.svg) no-repeat 50% 0;
		background-size: cover;
	}
	.tell{
		color: #332117;
		font-size: 36px;
		float: left;
		a{
			color: #332117;
			border: 0;
			&:hover{
				text-decoration: none;
			}
		}
	}
}
.logo{

	background: url(../images/logo.png) no-repeat 50% 0;
}
.logo{
	position: absolute;
	top: 15px;
	left: 50%;
	transform:translateX(-50%);
	width:170px;
	height:138px;
	z-index: 20;

}
.logo a{
	line-height: 0;
	font-size: 0;
	text-indent: -9999px;
	overflow: hidden;
	display: block;
	height: 100%;
	outline: none;
	background: url(../images/logo.png) no-repeat;
	border: 0;
}
@media screen and (max-width: 1000px) {
	.header{
		height: auto;
		text-align: center;
		padding: 10px 0 20px;
		.logo{
			position: static;
			display: block;
			transform:none;
			margin: 0 auto;
		}
		&:after{
			content: none;
		}
		.tell{
			float: none;
			display: block;
			text-align: center;
			font-size: 32px;
			padding-bottom: 10px;
		}
	}
}