@import
'_reset.scss',
'_font-face',
'_sprite.scss',
'_sprite-svg',
'_header',
'_footer';
body{
	font: 12px/1.42857 'helios';
}
a{
	color: #000;
	border-bottom: 1px dotted #a2a1a1;
	text-decoration: none;
	&:hover{
		text-decoration: none;
		color: #026939;
		border-bottom-color: #026939;
	}
	&:visited{
		color: #4e0626;
		border-bottom-color: #4e0626;
	}
}
.center{
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 15px;
	&:after{
		display: block;
		clear: both;
		content: '';
	}
}
.text-center{
	text-align: center;
}
.btn-transparent{
	font-size: 18px;
	color: #332117;
	border: 2px solid #332117;
	border-radius:2px;
	padding: 11px 40px 13px;
	cursor: pointer;
	background: none;
	display: inline-block;
	vertical-align: middle;
	&:hover{
		text-decoration: none;
		background: #3bb54b;
		border: 0;
		color: #fff;
		padding: 13px 42px 15px;
	}
	&:active{
		background: #30973d;
		border-color: #30973d;
		border: 0;
		padding: 13px 42px 15px;
		box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
		color: #fff;
	}
	&:visited{
		color: #332117;
		&:hover{
			color: #fff;
		}
	}
	&:disabled,&.disabled{
		background: none;
		border: 2px solid #99908b;
		color: #99908b;
		&:hover,&:active{
			padding: 11px 40px 13px;
			border: 2px solid #99908b;
			box-shadow:none;
			cursor:not-allowed;
		}
	}
}
.btn-green{
	font-size: 24px;
	color: #fff;
	border-radius:2px;
	padding: 11px 40px 13px;
	cursor: pointer;
	background: none;
	display: inline-block;
	vertical-align: middle;
	background: #3bb54b;
	box-shadow: 0 1px 1px 0px #026939;
	border: 0;
	&:hover{
		text-decoration: none;
		background: #4be15f;
		color: #fff;
	}
	&:active{
		background: #30973d;
		box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
		color: #fff;
	}
	&:visited{
		color: #fff;
		border: 0;
	}
	&:disabled,&.disabled{
		background: #8b918c;
		color: #b9bdba;
		box-shadow:none;
		&:hover,&:active{
			box-shadow:none;
			cursor:not-allowed;
		}
	}
}
.promo-block{
	background: url(../images/heroimage.png) no-repeat 50% 0;
	background-size: cover;
	padding: 116px 0 102px;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		background:red url(../images/ellipse_up.svg) no-repeat ;
		background-size:100% 100% !important;
		height: 32px;
		width: 100%;
		display: block;
	}
	.row{
		margin-top: 80px;
	}
	h1{
		margin: 0;
		color: #fff;
		font: 46px/53px Georgia, Georgia, serif;
		background: rgba(0, 0, 0, .4);
		padding-bottom: 13px;
		padding-top: 13px;
		span{
			color: #8eef9a;
			font-weight: bold;
		}
	}
	h2{
		margin: 13px 0 0 0;
		color: #fff;
		font-size: 24px;
		font-weight: normal;
		background: rgba(0, 0, 0, .4);
		padding-bottom: 19px;
		padding-top: 10px;
	}
	.columnn{
		border-color: #fff;
		background: rgba(0, 0, 0, .4);
		h3,p{
			color: #fff;
		}
		h3 span:after,h3 span:before{
			background: #fff;
		}
	}
}
.row{
	margin: 0 -12px;
	font-size: 0;
	&:after{
		display: block;
		clear: both;
		content: '';
	}
}
.col3{
	width: 33.333%;
	display: inline-block;
	vertical-align: top;
	padding: 0 12px 62px;
}
.columnn{
	border: 2px solid #44362f;
	border-top: 0;
	width: 100%;
	min-height: 97px;
	position: relative;
	.holder{
		position: relative;
		height: 150px;
		display: table;
		width: 100%;
		padding: 0 10px;
		p{
			display: table-cell;
			vertical-align: middle;
		}
	}
	&:after,&:before{
		display: block;
		clear: both;
		content: '';
	}
	h3{
		margin:0;
		position: absolute;
		top: -16px;
		height: 52px;
		width: 100%;
		overflow: hidden;
		color: #332117;
		font: 24px/26px Georgia, Georgia, serif;
		span{
			display: inline-block;
			vertical-align: top;
			position: relative;
			padding: 0 12px;
			max-width: 95%;
		}
		span:after{
			width: 9999px;
			height: 2px;
			background: #44362f;
			position: absolute;
			top: 16px;
			left: 100%;
			content: '';
		}
		span:before{
			width: 9999px;
			height: 2px;
			background: #44362f;
			position: absolute;
			top: 16px;
			right: 100%;
			content: '';
		}
	}
	p{
		margin: 0;
		color: #000;
		font-size: 18px;
		line-height: 24px;
	}
}
.heading{
	margin: 0;
	color: #332117;
	font: 42px/45px Georgia, Georgia, serif;
	overflow: hidden;
	margin-bottom: 40px;
	span{
		display: inline-block;
		position: relative;
		padding: 0 17px;
		&:after{
			width: 9999px;
			height: 2px;
			content: '';
			position: absolute;
			left: 100%;
			background: #332117;
			top: 50%;
			transform:translateY(-50%);
		}
		&:before{
			width: 9999px;
			height: 2px;
			content: '';
			position: absolute;
			right: 100%;
			background: #332117;
			top: 50%;
			transform:translateY(-50%);
		}
	}
}
.ico-holder{
	height: 100px;
	margin-bottom: 18px;
	img{
		display: block;
		margin: 0 auto;
	}
}
.block-lukmore{
	padding: 60px 0 70px;
	.center{
		> p{
			font-size: 24px;
			margin: 0;
			padding-bottom: 50px;
		}
	}
}
.banner-text{
	background: url(../images/location.png) no-repeat 50% 0;
	background-size: cover;
	padding-top: 128px;
	padding-bottom: 112px;
	h2{
		margin: 0;
		font: 42px/45px Georgia, Georgia, serif;
		color: #fff;
		background: rgba(0, 0, 0, .4);
		padding-bottom: 8px;
	}
	p{
		margin:7px 0 0 0;
		font-size: 24px;
		line-height: 26px;
		color: #fff;
		background: rgba(0, 0, 0, .4);
		padding-bottom: 13px;
		padding-top: 10px;
	}
}
.map-block{
	padding-top: 60px;
	padding-bottom: 30px;
	.center{
		> p{
			margin: 0;
			font-size: 24px;
			line-height: 26px;
		}
	}
	.map{
		padding-top: 40px;
		img{
			display: block;
			max-width: 100%;
			height: auto;
			margin: 0 auto;
		}
	}
}
.plan-block{
	margin-top: 60px;
	padding-bottom: 30px;
	.mega-plan{
		position: relative;
		margin-bottom: 44px;
		img{
			width: 100%;
			display: block;
			height: auto;
		}
	}
	.plan-heading{
		position: absolute;
		top: -22px;
		left: 0;
		width: 100%;
		p{
			margin: 0;
			font-size: 24px;
			line-height: 26px;
			color: #000;
			span{
				font-size: 36px;
				color: #3bb54b;
				font-family: helios-bold;
			}
		}
	}
	.legend{
		position: absolute;
		bottom: 30px;
		left: 0;
		width: 100%;
		.line + .line{
			padding-left: 40px;
		}
		.line{
			font-size: 16px;
			display: inline-block;
			vertical-align: middle;
			em{
				display: inline-block;
				vertical-align: middle;
				width: 24px;
				height: 24px;
				background: #cdcdcd;
			}
			strong{
				display: inline-block;
				vertical-align: middle;
				font-weight: normal;
			}
			&.free{
				em{
					background: none;
					border: 2px solid #000;
				}
			}
		}
	}
}
.gallery-block{
	padding-top: 30px;
	padding-bottom: 80px;
	.owl-carousel{
		position: relative;
	}
	.some-gallery{
		position: relative;
		overflow: hidden;
		margin-bottom: 60px;
	}
	#sync2{
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform:translateX(-50%);
		width: 100%;
		max-width: 50%;
		.owl-item{
			img{
				opacity: .6;
			}
			&.current{
				img{
					border: 2px solid #fff;
					opacity: 1;
				}
				
			}
		}
	}
}
.tll{
	display: block;
	font-size: 48px;
	color: #332117;
	margin-top: 40px;
	a{
		color: #332117;
		border: 0;
		&:hover{
			text-decoration: none;
		}
	}
}
.owl-nav{
	margin: 0 !important;
	 div{
		position: absolute;
		text-indent: -9999px;
		font-size: 0;
		width: 95px;
		height: 67px;
		background: #000;
		top: 50%;
		transform:translateY(-50%);
		margin: 0 !important;
		padding: 0 !important;
		border-radius:0 !important;
		
		&.owl-prev{
			left: -20px;
			background: url(../images/left.svg) no-repeat  !important;
			background-size: cover !important;
			&:hover{
				background: url(../images/left-hover.svg) no-repeat  !important;
				background-size: cover !important;
			}
		}
		&.owl-next{
			right: -20px;
			background: url(../images/right.svg) no-repeat  !important;
			background-size: cover !important;
			&:hover{
				background: url(../images/right-hover.svg) no-repeat  !important;
				background-size: cover !important;
			}
		}
	}
}
.fancy-modal{
	max-width: 900px;
	padding: 60px;
	width: 100%;
	h2{
		margin: 0;
		font: 44px/46px Georgia, Georgia, serif;
	}
	p{
		font:18px/28px 'helios-light';
		margin: 30px 0 0 0;
	}
}
.row-field{
	padding-bottom: 35px;
	position: relative;
	.message{
		display: none;
	}
	.field-txt{
		margin: 0;
		padding: 20px 0 20px 0;
		display: block;
		width: 100%;
		border: 0;
		border-bottom: 1px solid #7c7c7c;
		font-size: 24px;
		color: #000;
		outline: none;
		&:focus{
			border-bottom-color: #4a894e !important;
		}
	}
	&.has-error{
		.field-txt{
			border-bottom-color: #a92727;
		}
		.message{
			display: block;
			position: absolute;
			right: 0;
			top: 25px;
			color: #a92727;
			font:16px/20px 'helios-light';
		}
	}
	&.has-valid{
		.field-txt{
			border-bottom-color: #37c43b;
		}
	}
}
.row-checkbox{
	text-align:left;
	padding-bottom: 49px;
	padding-top: 20px;
}
.fancybox-close-small{
	width: 22px;
	height: 22px;
	top: 20px;
	right: 22px;
	background: url(../images/close.svg) no-repeat;
	background-size: cover;
	&:after{
		content: none;
	}
	&:hover{
		opacity: .5;
	}
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 52px;
  padding-top: 5px;
  cursor: pointer;
  font:18px/21px 'helios-light';
  display: inline-block;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border: 1px solid #7c7c7c;
  background: #fff;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:hover,
[type="checkbox"]:checked + label:hover{
	color: #064b18;
}
[type="checkbox"]:not(:checked) + label:hover:before,
[type="checkbox"]:checked + label:hover:before{
	border-color: #3bb54b;
	box-shadow:none;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  background: url(../images/check.svg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 1px; 
  left: 4px;
  width: 30px;
  height: 28px;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
.spinner{
	padding: 40px 0;
	img{
		width: 82px;
		height: 82px;
		display: block;
		margin: 0 auto;
	}
}
@media screen and (max-width: 1000px){
	.fancy-modal{
		max-width: 80%;
		padding:30px 15px;
	}
	.btn-transparent,.btn-green{
		display: block;
		font-size: 18px;
		line-height: 21px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.promo-block{
		padding: 0;
		background: none;
		.row{
			display: none;
		}
		&:after{
			content: none;
		}
		h1{
			color: #332117;
			font-size: 24px;
			line-height: 30px;
			background: none;
			padding: 0;
		}
		h2{
			background: none;
			padding: 0;
			color: #332117;
			font-size: 18px;
			line-height: 21px;
			padding-bottom: 24px;
		}
	}
	.heading{
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 10px;
		color: #332117;
		span{
			padding: 0;
			&:after,&:before{
				content: none;
			}
		}
	}
	.block-lukmore{
		padding-bottom: 46px;
		padding-top: 38px;
		.ico-holder{
			margin-bottom: 0;
		}
		.center{
			>p{
				padding: 20px 0;
				font-size: 18px;
				line-height: 24px;
			}
		}
		.row{
			margin: 0 -15px;
			.col3{
				width: 100%;
				padding: 20px 0 0 0;
				.columnn{
					border-left: 0;
					border-right: 0;
					padding-bottom: 30px;
					min-height: auto;
					h3{
						margin: 0;
						position: static;
						span{
							padding: 0;
							position: static;
							&:after,&:before{
								content: none;
							}
						}
					}
					.holder{
						margin: 0;
						height: auto;
						display: block;
						text-align: center;
						p{
							display: block;
							padding-top: 7px;
						}
					}
				}
			}
		}
	}
	.banner-text{
		padding: 30px 0;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, .4);
			z-index: 1;
		}
		h2{
			font-size: 24px;
			line-height: 26px;
			padding: 0;
			background: none;
			z-index: 2;
			position: relative;
		}
		p{
			font-size: 18px;
			background: none;
			line-height: 24px;
			padding: 0;
			z-index: 2;
			position: relative;
		}
	}
	.map-block{
		padding-top: 30px;
		padding-bottom: 0;
		.center{
			>p{
				font-size: 18px;
				line-height: 24px;
			}
		}
		.map{
			padding-top: 15px;
		}
	}
	.plan-block {
		.plan-heading{
			position: static;
			p{
				font-size: 18px;
				line-height: 30px;
			}
		}
		.mega-plan{
			margin-bottom: 30px;
		}
		.legend{
			position: static;
			.line{
				display: block;
				padding-top: 7px;
			}
			.line + .line{
				padding-left: 0;

			}
		}
	}
	.gallery-block{
		padding-top: 10px;
		padding-bottom: 30px;
		.some-gallery{
			margin-bottom: 30px;
		}
	}
	#sync2{
		display: none;
	}
	.tll{
		font-size: 32px;
		margin-top: 30px;
	}
}
@media screen and (max-width: 500px){
	.owl-nav div{
		width: 35px;
		height: 25px;
	}
	.owl-nav div.owl-prev{
		left: 0;
	}
	.owl-nav div.owl-next{
		right: 0;
	}
	.fancy-modal{
		max-width: 90%;
		h2{
			font-size: 30px;
			line-height: 33px;
		}
	}
	.fancybox-close-small{
		top: 15px;
		right: 15px;
	}
	.row-field.has-error .message{
		top: auto;
		bottom: 10px;
	}
}